* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

#contenedor {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #353535; }
  #contenedor #titulo {
    font-family: "Sancreek", cursive;
    font-size: 200%;
    background: #353535;
    color: #ecf0f1;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center; }
  #contenedor #CuerpoPiano {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 2;
    background: #353535;
    padding: 5px 20px; }
    #contenedor #CuerpoPiano #grupoBlancas {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      flex: 5; }
      #contenedor #CuerpoPiano #grupoBlancas .piezasBlancas {
        margin: 0px 0px;
        box-shadow: -1px 11px 0.5px -5px rgba(0, 0, 0, 0.42);
        border-radius: 0 0 10px 10px;
        font-family: "Sancreek", cursive;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        flex: 2;
        height: 100%;
        border: 1px solid #302F2F;
        background-image: linear-gradient(white 10%, #fbfbfb 92%, #d0cfcf 91%, white 97%); }
      #contenedor #CuerpoPiano #grupoBlancas .piezasBlancas:hover {
        background-image: linear-gradient(white 10%, #f4f1f1 50%, lightgray 91%, #DED9D9 97%); }
      #contenedor #CuerpoPiano #grupoBlancas .piezasBlancas:active {
        background-image: linear-gradient(white 10%, #f4f1f1 50%, #424242 91%, #343333 97%); }
    #contenedor #CuerpoPiano #grupoNegras {
      height: 100%;
      display: flex;
      flex-direction: row;
      flex: 1; }
      #contenedor #CuerpoPiano #grupoNegras .piezasNegras {
        cursor: pointer;
        width: 5%;
        height: 40%;
        background-image: linear-gradient(black 10%, #565656 85%, black 90%);
        font-family: "Sancreek", cursive;
        display: flex;
        color: white;
        justify-content: center;
        align-items: flex-end;
        margin: 0px 0px;
        border-radius: 0 0 10px 10px;
        box-shadow: -1px 11px 0.5px -5px rgba(0, 0, 0, 0.42); }
      #contenedor #CuerpoPiano #grupoNegras .piezasNegras:hover {
        background-image: linear-gradient(black 10%, #565656 85%, #565656 90%); }
      #contenedor #CuerpoPiano #grupoNegras .piezasNegras:active {
        background-image: linear-gradient(black 10%, #232121 85%, #565656 90%); }
      #contenedor #CuerpoPiano #grupoNegras #q {
        left: 13%;
        position: absolute;
        top: 6px; }
      #contenedor #CuerpoPiano #grupoNegras #w {
        left: 27%;
        position: absolute;
        top: 6px; }
      #contenedor #CuerpoPiano #grupoNegras #e {
        left: 54%;
        position: absolute;
        top: 6px; }
      #contenedor #CuerpoPiano #grupoNegras #r {
        left: 68%;
        position: absolute;
        top: 6px; }
      #contenedor #CuerpoPiano #grupoNegras #t {
        left: 82%;
        position: absolute;
        top: 6px; }
  #contenedor #record {
    background: #353535;
    padding: 5px 20px;
    box-shadow: 0 10px 20px rgba(62, 61, 61, 0.19), 0 6px 6px rgba(92, 90, 90, 0.23);
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #contenedor #record #TituloCajaTexto {
      font-family: "Sancreek", cursive;
      font-size: 150%;
      color: #ecf0f1; }
    #contenedor #record #cajitaTexto {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      width: 50%;
      height: 70%;
      margin-top: 5px;
      color: #353535; }
    #contenedor #record .send {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%; }
      #contenedor #record .send #enviar {
        width: 10%;
        cursor: pointer;
        font-family: "Sancreek", cursive;
        background: #5E5E5E;
        height: 30%;
        text-align: center;
        margin: 5px 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        box-shadow: 7px 4px 12px -3px rgba(0, 0, 0, 0.73);
        color: #ecf0f1;
        border-radius: 7px; }
      #contenedor #record .send #enviar:hover {
        background: #817F7F; }
      #contenedor #record .send #enviar:active {
        background: #252424; }
