$colorFondo: #353535;
$bordeRedondo: 0 0 10px 10px;
$colorTitulo: #ecf0f1;
$fuente: 'Sancreek', cursive;

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    // font-family: 'Open Sans', sans-serif;
}

#contenedor{

    
    width: 100%;
    height: 100vh;  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: $colorFondo;

    #titulo{
        font-family: $fuente;
        font-size: 200%;
        background:$colorFondo;
        color: $colorTitulo;
        
        

        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    #CuerpoPiano{
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 2;
        background: $colorFondo;
        padding: 5px 20px;      

        #grupoBlancas{
            cursor: pointer;
            display: flex;
            flex-direction: row;
            flex: 5;

            .piezasBlancas{
                margin: 0px 0px;
                box-shadow: -1px 11px 0.5px -5px rgba(0,0,0,0.42);
                border-radius: $bordeRedondo;
                font-family: $fuente;
                display: flex;
                justify-content: center;
                align-items: flex-end;                
                text-align: center;
                flex: 2;
                height: 100%;
                border: 1px solid #302F2F;
            
                background-image: linear-gradient(white 10%, rgb(251, 251, 251) 92%, rgb(208, 207, 207) 91%, white 97%);
                
            }
            .piezasBlancas:hover{
                
                            // background: black;
                
                background-image: linear-gradient(white 10%, rgb(244, 241, 241) 50%, rgb(211, 211, 211) 91%, #DED9D9 97%);
            }
            .piezasBlancas:active{

                background-image: linear-gradient(white 10%, rgb(244, 241, 241) 50%, rgb(66, 66, 66) 91%, #343333 97%);
            }
            
            
        }
        

        #grupoNegras{
            
            // position: absolute;
           height: 100%;
            display: flex;
            flex-direction: row;
            flex: 1;
            .piezasNegras{
                
               cursor: pointer;
                width: 5%;
                // width: 20px;
                height: 40%;
                // background: #000000;
                background-image: linear-gradient(black 10%, #565656 85%, black 90%);
                font-family: $fuente;
                display: flex;
                color:white;
                justify-content: center;
                align-items: flex-end;  
                margin: 0px 0px;
                border-radius: $bordeRedondo;
                box-shadow: -1px 11px 0.5px -5px rgba(0,0,0,0.42);
                
            }
            .piezasNegras:hover{
                background-image: linear-gradient(black 10%, #565656 85%, #565656 90%);
            }
            .piezasNegras:active{

                background-image: linear-gradient(black 10%, #232121 85%, #565656 90%);
            }
            #q{
                left: 13%;
                position: absolute;
                top: 6px;
                
            }
            #w{
                left: 27%;
                position: absolute;
                top: 6px;
            }
            #e{
                left: 54%;
                position: absolute;
                top: 6px;
            }
            #r{
                left: 68%;
                position: absolute;
                top: 6px;
            }
            #t{
                left: 82%;
                position: absolute;
                top: 6px;
            }
            

         }
             
    }

    #record{
        
        background: $colorFondo;
        padding: 5px 20px;
        box-shadow: 0 10px 20px rgba(62, 61, 61, 0.19), 0 6px 6px rgba(92, 90, 90, 0.23); 

        display: flex;
        flex: 2;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        

        #TituloCajaTexto{
            font-family: $fuente;
            font-size: 150%;
            color: $colorTitulo;


        }

        #cajitaTexto{
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); 
            width: 50%;
            height: 70%;
            margin-top: 5px;
            color: $colorFondo;
        }
        .send{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            #enviar{
                width: 10%;
                cursor: pointer;
                font-family: $fuente;
                background: #5E5E5E;
                height: 30%;
                text-align: center;
                margin:5px 30px;
                padding-top: 5px;
                padding-bottom: 5px;
                box-shadow: 7px 4px 12px -3px rgba(0,0,0,0.73);               
                color: $colorTitulo;
                border-radius: 7px;

            }
            #enviar:hover{
                background: #817F7F;
            }
            #enviar:active{
                background: #252424;
            }
            
        }

    }



    


}